[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Rider
.idea/
*.sln
*.csproj
*.user
*.pidb
*.unityproj
*.booproj
*.suo

# VS Code
.vscode/
.vs/

# OS junk
.DS_Store
Thumbs.db

# Addressables
*.bin
*.bundle

# Crash logs
*.stacktrace
